altgraph==0.17.4
black==23.10.1
click==8.1.7
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
perlin-noise==1.12
platformdirs==3.11.0
pygame-ce==2.3.2
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10

